$violetaUno: #b57aed;
$negro: #252525;

#carrito {
  margin: 30px 0 40px;
  min-height: 100dvh;

  .carrito-vacio-msg {
    text-align: center;
    color: $violetaUno;
    font-weight: bold;
  }

  h3 {
    color: $negro;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 30px;
  }

  button {
    width: 100%;
    margin: auto;
    font-weight: bold;
  }
}

#tarjeta-carrito {
  .card-title {
    strong {
      color: $violetaUno;
    }
  }

  .card {
    width: 70%;
    margin: auto;

    @media (max-width: 768px) {
      width: 90%;
    }

    .roww {
      display: flex;
      flex-direction: row;
    }

    .col-md-2 {
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        transition: 0.3s;
        background-color: #ececec;
      }

      img {
        height: 80%;
        width: 150px;
      }
    }
  }
}
