$violetaUno: #b57aed;
$negro: #252525;

:root {
  --mainColor: #5767aa;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

#Header-global {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColorLight);
  color: var(--textColor);
  position: sticky;
  z-index: 9999;
  top: 0;

  .btn-salir {
    background: none !important;
    box-shadow: none !important;
    color: var(--textColor) !important;
    font-size: 1rem !important;
    text-transform: capitalize;
    div {
      display: none;
    }
  }

  .titulo {
    text-decoration: none;

    h3 {
      margin: 0;
      color: var(--textColor);
    }
  }

  nav a {
    font-size: 1rem !important;
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
    text-transform: capitalize;

    &:hover {
      color: #bbbbbb;
      transition: 0.3s;
      cursor: pointer;
    }
  }

  .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
  }

  div,
  nav {
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 1024px) {
    .nav-btn {
      visibility: visible;
      opacity: 1;
    }

    nav {
      position: fixed;
      top: -100vh;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: var(--mainColor);
      transition: 1s;
    }

    .responsive_nav {
      transform: translateY(100vh);
      z-index: 9999 !important;
    }

    nav .nav-close-btn {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }

    nav a {
      font-size: 1.5rem;
    }
  }

  .cart {
    display: flex;
    .search-text {
      display: none;

      @media only screen and (max-width: 1024px) {
        display: block;
        margin-right: 15px;
      }
    }

    .search-text-bus {
      margin: 0;
      padding: 0;
    }

    svg {
      font-size: 2rem;
    }

    .num-item {
      margin-left: 2px;
      border-radius: 50%;
      padding-top: 2px;
      color: #fff !important;
    }
  }
}

.oferta-navbar {
  text-align: center;
  padding: 5px 0 5px;
  font-size: 0.8rem;
  background-color: #fae2e2;
}
