$violetaUno: #b57aed;
$negro: #0b0b0b;

#NavbarGlobal-global {
  max-height: 75px;
  background-color: rgb(241, 241, 241) !important;

  .user-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .cart {
      margin-right: 30px;

      .search-text {
        display: none;
      }

      svg {
        font-size: 2rem;
      }

      .num-item {
        margin-left: 2px;
        background-color: $violetaUno;
        padding: 8px;
        border-radius: 50%;
        padding-top: 0;
        color: $negro !important;
      }
    }

    @media (max-width: 991px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .cart {
        &:last-of-type {
          margin-top: 4px;
          margin-bottom: 6px;
        }

        .search-text {
          display: inline;
          margin-right: 5px;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .navbar-collapse {
      background-color: rgb(241, 241, 241, 0.95);
      border: 1px solid #353535;
      padding: 10px;
      border-radius: 12px;
      z-index: 999;
    }
  }

  a {
    font-weight: bold;
    color: $negro;
    text-transform: uppercase;
    font-style: italic;

    &:hover {
      color: $violetaUno;
    }
  }

  img {
    height: auto;
    width: 50px;
    margin-right: 50px;
  }
}

#FooterGlobal-global {
  @media (max-width: 768px) {
    .redes {
      display: none;
    }
  }
}
